{{#each this}}
<div class="photo-card">
    <a href="{{largeImageURL}}"> <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width='300'
            height="200" /></a>
    <div class="info">
        <p class="info-item">
            <b class="info-item__name">Likes:<br><span class="info-item_count">{{likes}}</b>
        </p>
        <p class="info-item">
            <b class="info-item__name">Views:<br><span class="info-item_count">{{views}}</span>
            </b>
        </p>
        <p class="info-item">
            <b class="info-item__name">Comments:<br><span class="info-item_count">{{comments}}</span>
            </b>
        </p>
        <p class="info-item">
            <b class="info-item__name">Downloads:<br><span class="info-item_count">{{downloads}}</span>
            </b>
        </p>
    </div>
</div>
{{/each }}